In [11]:
import sqlite3
# Creating database
connection = sqlite3.connect("library.db")

In [12]:
# Creating a cursor to manipulate database
csr1 = connection.cursor()

In [13]:
# Creating a table
# datatypes for table content - null,integer,real,text,blob.
csr1.execute("""CREATE TABLE books (
    book_name text,
    book_author text,
    book_ID text
)""")

In [16]:
# commiting to database
connection.commit()

In [17]:
# inserting info in database
csr1.execute("""INSERT INTO books VALUES ('Programming with python','Reema Thareja','1')""")

In [18]:
# inserting more info one go
lib_books =[
    ('Digital Logic Design','Morris Mano','2'),
    ('Engineering Graphics','N.D. Bhatt','3'),
    ]
csr1.executemany("""INSERT INTO books VALUES (?,?,?)""", lib_books)

In [19]:

csr1.execute("SELECT rowid,* FROM books")
# csr1.fetchone()
# csr1.fetchmany(some number)
data=(csr1.fetchall())

for i in data:
    print(i)

(1, 'Programming with python', 'Reema Thareja', '1')
(2, 'Digital Logic Design', 'Morris Mano', '2')
(3, 'Engineering Graphics', 'N.D. Bhatt', '3')

In [43]:
a = 'Reema Thereja'
c.execute("SELECT * FROM books WHERE author1 LIKE 're%'")

items = c.fetchall()
for i in items:
    print(i)

('Programming with python', 'Reema Thareja', '-', '-', '1', 'available')

In [22]:
csr1.execute("SELECT * from client_info")

In [24]:
csr1.fetchall()

ProgrammingError: Cannot operate on a closed database.

In [1]:
import sqlite3
conn = sqlite3.connect('library.db')
c = conn.cursor()

In [6]:


def client_login():
    

    mis = input("Enter mis: ")
    # c.execute("SELECT EXISTS(SELECT 1 FROM client_info WHERE mis=? LIMIT 1)", (mis,))
    # csr1.execute("SELECT * FROM books WHERE book_author LIKE 'Reema%'")
    c.execute("SELECT * FROM client_info")
    record = (c.fetchall())
    index=0
    for i in record:
        if mis == i[4]:
            
            print("Name is in the table")
            y = input("Enter password: ")
            c.execute("SELECT password FROM client_info WHERE mis=?", (mis,))
            z = c.fetchone()
            if y == z[0]:
                print("CORRECT PASS")
                client_options()
                break
            else:
                print("Wrong pass")
                break
            
        else:
            index+=1
    
    if mis not in record[index]:
        print("Member not in the data")

client_login()

Name is in the table
CORRECT PASS

NameError: name 'client_options' is not defined

In [2]:
conn = sqlite3.connect('library.db')
c = conn.cursor()

def client_login():
    

    mis = input("Enter mis: ")
    # c.execute("SELECT EXISTS(SELECT 1 FROM client_info WHERE mis=? LIMIT 1)", (mis,))
    # csr1.execute("SELECT * FROM books WHERE book_author LIKE 'Reema%'")
    c.execute("SELECT * FROM client_info")
    record = (c.fetchall())
    index=0
    for i in record:
        if mis == i[4]:
            
            print("Name is in the table")
            y = input("Enter password: ")
            c.execute("SELECT password FROM client_info WHERE mis=?", (mis,))
            z = c.fetchone()
            if y == z[0]:
                print("CORRECT PASS")
                #client_options()
                break
            else:
                print("Wrong pass")
                try1 = input("try again? (Y/N)")
                break
            
        else:
            index+=1
    
    if mis not in record[index]:
        print("Member not in the data")

client_login()

SyntaxError: invalid syntax (<ipython-input-2-56168b4d6649>, line 26)

In [8]:

def search_books():
    # c.execute("SELECT EXISTS(SELECT 1 FROM client_info WHERE mis=? LIMIT 1)", (mis,))
    c.execute("SELECT * FROM books")
    record = c.fetchall()
    for _ in record:
        bk = input("Enter book you want to search: ")
        c.execute("SELECT book_name FROM books WHERE book_name LIKE ?",(bk,))
        result1 = c.fetchall()
        c.execute("SELECT author1 FROM books WHERE author1 LIKE ?",(bk,))
        result2 = c.fetchall()
        c.execute("SELECT author2 FROM books WHERE author2 LIKE ?",(bk,))
        result3 = c.fetchall()
        c.execute("SELECT author3 FROM books WHERE author3 LIKE ?",(bk,))
        result4 = c.fetchall()
        c.execute("SELECT book_id FROM books WHERE book_id LIKE ?",(bk,))
        result5 = c.fetchall()
        num = 0
        for i,j,k,l,m in result1,result2,result3,result4,result5:
            if (len(i)>0):
                print(num,')',i,'\n')
                num+=1
            if (len(j)>0):
                print(num,')',j,'\n')
                num+=1
            if (len(k)>0):
                print(num,')',k,'\n')
                num+=1
            if (len(l)>0):
                print(num,')',l,'\n')
                num+=1
            if (len(m)>0):
                print(num,')',m,'\n')
                num+=1

search_books()

ValueError: not enough values to unpack (expected 5, got 0)

In [18]:
def signup():
    c.execute("SELECT * FROM client_info")
    record = (c.fetchall())
    
    username = input('Enter username: ')
    index=0
    for i in record:
        if username in i:
            print('Username already exists.')
            username = input('Enter another username: ')
            

    password = input('Enter password: ')
    first_name = input('Enter first name: ')
    last_name = input('Enter last name: ')

    mis = input('Enter mis: ')
    for i in record:
        if username in i:
            print('mis already exists.')
            username = input('Enter valid mis: ')

    branch = input('Enter branch: ')
    college_email = input('Enter college mail-id: ')
    mobile_no = input('Enter mobile no: ')
    none = '-'
# c.execute("SELECT password FROM client_info WHERE mis=?", (mis,))

    confirm = input("confirm sign-up - Y/N")
    if(confirm=='Y' or confirm=='y' or confirm=='Yes' or confirm=='yes' or confirm=='YES'):
        c.execute("INSERT INTO client_info VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?)",(username, password, first_name, last_name, mis, branch, college_email, mobile_no,none,none,none,none,none,none))
        conn.commit
    else:
        return
signup()

Username already exists.
mis already exists.

In [ ]:
def show_client_options():
    while(1):
        print('1. view all books')
        print('2. search book')
        print('3. update info')
        print('0. Exit')
        choice = input('Enter choice: ')
        if (choice=='1'):
            view_books()
        elif (choice=='0'):
            return
        elif (choice=='2'):
            search_books()
        elif(choice=='3'):
            update_client_info()
        else:
            print('Enter valid choice')

In [34]:
def update_client_info():
    i=1
    while(i):
        mis = input('enter mis: ')
        print('1. update first name')
        print('2. update last name')
        print('3. update mobile no')
        print('4. update branch')
        print('5. exit')
        choice = input()
        if choice=='1':
            first_name = input('Enter new first name: ')
            index = client_info[4].index(mis)
            client_info[2][index] = first_name
        
        if choice=='2':
            last_name = input('Enter new last name: ')
            index = client_info[4].index(mis)
            client_info[3][index] = last_name
        if choice=='3':
            number = input('Enter new number: ')
            index = client_info[4].index(mis)
            client_info[7][index] = number
        if choice=='4':
            branch = input('Enter new branch: ')
            index = client_info[4].index(mis)
            client_info[5][index] = branch
        if choice=='5':
            return

In [ ]:
def viewbook(index):
    for i in books[index]:
        print(i,end=" ")

In [ ]:

def view_books():
    for i in books:
        for j in range(6):
            print(books[i][j],end=" ")
        print('\n')

In [ ]:
       
def search_books():
    info = input('Enter book info you want')
    for book in books:
        if info in book:
            index = book.index(info)
            viewbook(index)

In [3]:
def update_client_info():
    i=1
    mis = input('enter mis: ')
    while(i):
        print('1. update first name')
        print('2. update last name')
        print('3. update mobile no')
        print('4. update branch')
        print('5. exit')
        choice = input()
        if choice=='1':
            first_name = input('Enter new first name: ')
            c.execute("UPDATE client_info SET first_name = ? WHERE mis=?",(first_name,mis))
            return
            
        elif choice=='2':
            last_name = input('Enter new last name: ')
            c.execute("UPDATE client_info SET last_name = ? WHERE mis=?",(last_name,mis))
            return
            
        elif choice=='3':
            number = input('Enter new number: ')
            c.execute("UPDATE client_info SET number = ? WHERE mis=?",(number,mis))
            return

        elif choice=='4':
            branch = input('Enter new branch: ')
            c.execute("UPDATE client_info SET branch = ? WHERE mis=?",(branch,mis))
            return
        
        elif choice=='5':
            return
        else:
            print("Enter Valid choice...")

In [29]:
def view_books():
    c.execute("SELECT * FROM books")
    record = c.fetchall()
    for book in record:
        i=1
        print(i,')',book[0],'\n')

In [44]:
conn.close()

In [5]:
def search_books():
    # c.execute("SELECT EXISTS(SELECT 1 FROM client_info WHERE mis=? LIMIT 1)", (mis,))
    c.execute("SELECT * FROM books")
    record = c.fetchall()
    bk = input("Enter book you want to search: ")
    bk = '%'+bk+'%'
    c.execute("SELECT * FROM books WHERE book_name LIKE ?",[bk])
    result1 = c.fetchall()
    c.execute("SELECT * FROM books WHERE author1 LIKE ?",[bk])
    result2 = c.fetchall()
    c.execute("SELECT * FROM books WHERE author2 LIKE ?",[bk])
    result3 = c.fetchall()
    c.execute("SELECT * FROM books WHERE author3 LIKE ?",[bk])
    result4 = c.fetchall()
    c.execute("SELECT * FROM books WHERE book_id LIKE ?",[bk])
    result5 = c.fetchall()
    result = result1+result2+result3+result4+result5
    result = set(result)
    num = 1
    for i in result:
        if (len(i)>0):
            print(num,')',i,'\n')
            num+=1
search_books()

1 ) ('Programming with python', 'Reema Thareja', '-', '-', '1', 'available')

In [7]:
def admin_login():
    

    username = input("Enter username: ")
    # c.execute("SELECT EXISTS(SELECT 1 FROM client_info WHERE mis=? LIMIT 1)", (mis,))
    # csr1.execute("SELECT * FROM books WHERE book_author LIKE 'Reema%'")
    c.execute("SELECT * FROM admin_info")
    record = (c.fetchall())
    index=0
    for i in record:
        if len(i)>0 and username == i[0]:
            
            print("Name is in the table")
            y = input("Enter password: ")
            c.execute("SELECT password FROM admin_info WHERE username=?", (username,))
            z = c.fetchone()
            if y == z[0]:
                print("CORRECT PASS")
                show_admin_options()
                break
            else:
                print("Wrong pass")
                break
            
        else:
            index+=1
    
    if index>=len(record):
        print("Member not in te data")
        return
admin_login()

Member not in te data

In [26]:
import datetime
def book_allot():
    mis = input("Enter client's mis: ")
    c.execute("SELECT * from client_info WHERE mis=?",[mis])
    client = c.fetchall()
    client[0] = list(client[0])
    search_books() # here search function will allow librarian to see the book_id of the desired book
    
    print(client,len(client[0][0]),type(client[0]))

    book_id = input("Enter book_id: ")
    c.execute("SELECT * from books WHERE book_id=?",[book_id])
    book_info = c.fetchall()
    book_info[0] = list(book_info[0])

    print(book_info,len(book_info[0][0]),type(book_info[0]))
    
    print(book_info[0][5])
    if(book_info[0][5] == 'unavailable'):
        print("Book unavailable")
        return
    else :
        if (client[0][8] == '-' or c[0][10] !='-'):
            client[0][8] = book_info[0][4]
            client[0][9] = datetime.datetime.today()
            client[0][10] ='-'
            c.execute("UPDATE client_info SET book1_id = ? WHERE mis=?",[c[0][8],mis])
            c.execute("UPDATE client_info SET date_of_issue1 = ? WHERE mis=?",[c[0][9],mis])
            c.execute("UPDATE client_info SET date_of_return1 = ? WHERE mis=?",[c[0][10],mis])
            c.execute("UPDATE books SET Availability = 'unavailable' WHERE book_id=?"[book_info[0][5]])
            conn.commit()
            print("The book has been alloted.")
            return
        elif (c[0][11] == '-' or c[0][13]!='-'):
            client[0][11] = book_info[0][4]
            client[0][12] = datetime.datetime.today()
            client[0][13] = '-'
            c.execute("UPDATE client_info SET book2_id = ? WHERE mis=?",[c[0][11],mis])
            c.execute("UPDATE client_info SET date_of_issue2 = ? WHERE mis=?",[c[0][12],mis])
            c.execute("UPDATE client_info SET date_of_return2 = ? WHERE mis=?",[c[0][13],mis])
            c.execute("UPDATE books SET Availability = 'unavailable' WHERE book_id=?"[book_info[0][5]])
            conn.commit()
            print("The book has been alloted.")
            return
        else:
            print("First return previous books") 
            return